.main-login {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 70vh;
  background-size: cover;
  background-position: top;
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 55%;
  width: 45%;
  border: 2px solid black;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, .8);
  padding: 35px;

  label {
    color: white;
    cursor: pointer;
  }

  .form-input {
    width: 75%;
    font-size: 1em;
    height: 25px;
    padding: 7px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: none;
  }

  .form-btn {
  width: 50%;
  font-size: 1.5em;
  padding: 5px;
  border-radius: 10px;
  border: 0;
  background-color: white;
  color: black;
  cursor: pointer;
  outline: 0;
  margin: 20px auto;
  }

  .form-btn:hover {
    transform: scale(1.05);
  }

  .error-p {
    color: firebrick;
  }
}
